<div id="<%= dom_id user %>">
  <p>
    <strong>Tipo persona:</strong>
    <%= user.tipo_persona %>
  </p>

  <p>
    <strong>Documento:</strong>
    <%= user.documento %>
  </p>

  <p>
    <strong>Fecha emision del documento:</strong>
    <%= user.fecha_emision_del_documento %>
  </p>

  <p>
    <strong>Fecha vencimiento del documento:</strong>
    <%= user.fecha_vencimiento_del_documento %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= user.correo %>
  </p>

  <p>
    <strong>Tel1:</strong>
    <%= user.tel1 %>
  </p>

  <p>
    <strong>Tel2:</strong>
    <%= user.tel2 %>
  </p>

</div>
